<div class="accordion" id="accordionExample">
	<table class="table">
		<caption>
			<h5 class="mb-0">{{this.nom}}</h5>
		</caption>
		<thead>
			<tr>
				<th>Region</th>
				<th>Rivière</th>
				<th>Section</th>
				<th>Débit</th>
				<th>Pondération</th>
				<th>Station</th>
				<th>Date d'actualisation</th>
			</tr>
		</thead>
		<tbody>
			{{#each rivieres.regions}}

			{{#each this.rivieres}}
			<tr data-station="{{this.station}}" data-ponderation="{{this.ponderation}}"
				data-colonne-index="{{this.colonneIndexDebit}}">
				<td>{{../this.nom}}</td>
				<td>{{this.nom}}</td>
				<td>{{this.section}}</td>
				<td data-calcule="debit">
					<img src="./Loader.gif" alt="Chargement">
				</td>
				<td>
					{{this.ponderation}}
				</td>
				<td>
					<a href="http://www.cehq.gouv.qc.ca/suivihydro/fichier_donnees.asp?NoStation={{this.station}}"
						target="new"><span>{{this.station}}</span></a>
					<a href="http://www.cehq.gouv.qc.ca/suivihydro/graphique.asp?NoStation={{this.station}}"
						target="new"><span class="oi oi-graph"></span></a>
				</td>
				<td data-calcule="date">
					<img src="./Loader.gif" alt="Chargement" />
				</td>
			</tr>
			{{/each}}

			{{/each}}
		</tbody>
	</table>
</div>

{{#contentFor "pageStyles"}} <style>
	*[data-station] {
		font-size: 1.1em;
	}

	.header label {
		font-weight: bold;
		font-size: 1.1em;
	}

	tr.group,
	tr.group:hover {
		background-color: #ddd !important;
		font-weight: bold;
		text-align: center;
	}
</style>
{{/contentFor}}


{{#contentFor "pageScripts"}}
<script>
	$(function () {
		var groupColumn = 0;
		$('table').DataTable({
			"paging": false,
			"columnDefs": [
				{ "visible": false, "targets": groupColumn }
			],
			"order": [[groupColumn, 'asc']],
			"displayLength": 25,
			"drawCallback": function (settings) {
				var api = this.api();
				var rows = api.rows({ page: 'current' }).nodes();
				var last = null;

				api.column(groupColumn, { page: 'current' }).data().each(function (group, i) {
					if (last !== group) {
						$(rows).eq(i).before(
							'<tr class="group"><td colspan="6">' + group + '</td></tr>'
						);

						last = group;
					}
				});
			}
		});

		{{!-- $('*[data-station]').each(function (index, section) {
			var station = $(section).data('station');
			var ponderation = $(section).data('ponderation');
			var colonneIndex = $(section).data('colonne-index');

			$.post('/api/infodebit/' + station,
				{
					colonneIndex: colonneIndex
				},
				function (retour) {
					var debitPondere = retour.result.debit * parseFloat(ponderation);
					var date = retour.result.date;
					$(section).find('[data-calcule=debit]').html('<span data-toggle="tooltip" data-placement="top" title="Pondération : ' + ponderation + '">' + debitPondere.toFixed(2) + '</span>');
					$(section).find('[data-calcule=date]').html(date);
				});
		}); --}}

		var socket = io.connect('http://localhost:3000');

		socket.on('debit', function (data) {
			console.log(data);
			$('*[data-station="' + data.numeroStation + '"]').each(function() {
				var ponderation = $(this).data('ponderation');

				var debitPondere = data.debit * parseFloat(ponderation);
				var date = data.date;

				$(this).find('[data-calcule=debit]').html('<span data-toggle="tooltip" data-placement="top" title="Pondération : ' + ponderation + '">' + debitPondere.toFixed(2) + '</span>');
				$(this).find('[data-calcule=date]').html(date);
			});
		});

		$('tr').click(function(e) {
			socket.emit('UnAutreEventCoteClient', 
			{
				numeroStation: $(this).data('station'),
				colonneIndex:  $(this).data('colonne-index')
			});
		});
	});
</script>
{{/contentFor}}